{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="utf-8" />
        <title>Учу Django</title>
</head>
<body>
<section>
    <article>
        <h2>Выводим информацию о клиенте</h2>
            {% if age > 65 %}
                <p>Клиент достиг пенсионного возраста</p>
            {% else %}
                <p>Клиент еще молод и не готов получать пенсию</p>
            {% endif %}
    </article>
    <article>
        <p>Знакомые мне языки</p>
        <ul>
            {% for lang in languages %}
                <li>{{ lang }}</li>
            {% empty %}
                <li>Ничего нет</li>
            {% endfor %}
        </ul>
    </article>
    <article>
        <img src="{% static 'images/pointer.png' %}" alt="django" width="300"/>
    </article>
</section>
</body>
</html>